h1{
  text-align: center;
  font-family: monospace;
}
h2{
  color: White;
  font-family: monospace;
}
p{
  color: White;
  font-family: fantasy;
}
div.a{
  background-color:  #0b66f3;
  text-align: center;
  margin: auto;
  max-width: 800px;
}
div.b{
  background-color:  #306cc8;
  text-align: left;
  margin: auto;
  max-width: 800px;
}
div.c{
  background-color:  #3b68ad;
  text-align: right;
  margin: auto;
  max-width: 800px;
}
div.d{
  background-color:  #3c5a87;
  text-align: center;
  margin: auto;
  max-width: 800px;
}
img{
  margin: auto;
  max-width: 800px;
}
