.header-container {
  background-color: #C242F6;
}
.header {
  color: white;
  font-size: 80px;
  font-family: monospace;
  display: flex;
  justify-content: space-around;
}
.menu-container{
  background-color: #6FC7F0;
  height: 50px;
  display: flex;
  justify-content: center;
}
.menu{
  color: #C242F6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column;
}
.home{
  font-size: 25px;
  font-family: monospace;
}
.footer-containter{
  display: flex;
  justify-content: center;
}
.footer{
  background-color: #6FC7F0;
  height: 100px;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  font-family: monospace;
  align-items: center;
}
.photo-grid-container {
  display: flex;
  justify-content: center;
  background-color: #C242F6;
  align-self: center;
}
.photo-grid {
  background-color: #C242F6;
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.art1,.art2{
  font-size: 30px;
  font-family: cursive;
}
.homemenu-container{
  background-color: #6FC7F0;
  height: 700px;
  display: flex;
  justify-content: center;
}
.homemenu{
  font-size: 50px;
  font-family: monospace;
  color: #C242F6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column;
}
.homefooter-containter{
  display: flex;
  justify-content: center;
}
.homefooter{
  background-color: #C242F6;
  height: 100px;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  font-family: monospace;
  align-items: center;
}
.description{
  font-size: 30px;
  font-family: cursive;
  color: white;
}
