body{
  margin: auto;
  max-width: 800px;
  background-color: #F229E2;

}
.header{
  height: auto;
  flex-wrap: wrap;
  background-color: white;
  text-align: center;
}
.page{
  background-color: white;
  text-align: center;
  font-size: 20px;
}
h1{
  font-size: 40px;
}
h2,h1{
  font-family: monospace;
}
