* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --black: #000;
  --background: gainsboro;
}

body {
  color: var(--black);
  background: var(--background);
  text-align: justify;
}
h1{
  color: grey;
  font-size: 1rem;
}
.box {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  column-gap: 2rem;
  line-height: 1.4rem;
}

p {
  margin-bottom: 1rem;
}
.content {
}
.row {
  background: white;
}
#header {
  background: Black;
}
#footer {
  background: Black;
  font-size: 1rem;
}
.hero-choice {
  background-color: black;
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;
  min-height: 300px
}
.hero-text {
  text-align: justify;
  position: absolute;
font-size: 2rem;
}
@media (min-width: 600px) {
.box {
  column-count: 2;
  text-align: left;
}
}
.hero-image {
  background-image: url(home.jpg);
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;
  min-height: 300px
}
.died-image {
  background-image: url(died.jpg);
  height: 200%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;
  min-height: 600px;
}
.road-image {
  background-image: url(road.jpg);
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;
  min-height: 300px
}
.arrow-image {
  background-image: url(arrow.jpg);
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;
  min-height: 300px
}
.pickup-image {
  background-image: url(pickup.jpg);
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  color: white;
  min-height: 700px
}
